    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><span class="light">Tenfold</span> Path</h2>
                <p>Since 2020 I started on a freelance journey and this my online hub. Feel free to browser arround and contact me in case you find anything </p>

                <p>Cloud Solutions and architecture</p>
                <p>Application Development - web and mobile</p>
                <p>System Integrations</p>
            </div>
        </div>
    </section>
