    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text light">{{ site.description }}</p>
                        <h2 class="">{{ site.owner }}</h2>
                        <h3 class="">CVR - {{ site.cvr }}</h3>
                        <br>
                        <h5 class="">[ View &bull; Engage &bull; Resolve ]</h5>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
