    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text light">{{ site.description }}</p>
                        <h3 class="">{{ site.owner }}</h3>
                        <p class="intro-text">CVR - {{ site.cvr }}</p>
                        <br>
                        <p class="font-weight-light">View - Engage - Resolve</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
